body {       

    &.landing-digitais {

        font-family: "Gotham";

        img {

            display: block;
            max-width: 100%;
            height: auto;

        }

        .content { padding-top: 102px; }

        .chamada-banner {

            h2 {

                font-size: 18px;
                letter-spacing: 2px;
                line-height: 20px;
                color: #fff;
                text-align: center;
                width: 50%;
                margin: 0 auto;
                position: relative;
                text-transform: uppercase;
            
            }

        }


        h3 { text-transform: uppercase; }

        .videoTopo {

            position: relative;

            article {

                position: absolute;
                width: 100%;
                text-align: center;
                // top: 240px;
                top: 70px;

                a {

                    font-size: 12px;
                    letter-spacing: 1px;
                    line-height: 12px;
                    color: #fff;
                    font-weight: 800;
                    text-align: center;
                    display: inline-block;
                    background: #c41c17;
                    padding: 10px 13px;
                    margin-top: 20px;
                    text-transform: uppercase;

                }

            }

        }

        iframe { max-width: 100%; height: 260px; }

        .contentWidth {

            margin: 0 auto;
            width: 100%;
            max-width: 1150px;

        }

        .sliderGrid {

            width: 86%;
            display: block;
            position: relative;

            button {

                background: 0 0;
                border: none;
                text-indent: -10em;
                overflow: hidden;
                width: 15px;
                height: 15px;
                padding: 0;
                position: absolute;

                &.slick-arrow {

                    border-top: 2px solid rgba( 255, 255, 255, 1 );
                    border-left: 2px solid rgba( 255, 255, 255, 1 );
                    top: 50%;
                    color: rgba(255, 255, 255, 1);
                    z-index: 9;
                    cursor: pointer;
                    padding: 0;

                    &.slick-next {

                        right: 20px;
                        
                        transform: rotate(135deg);
                        -webkit-transform: rotate(135deg);
                        -moz-transform: rotate(135deg);
                        -o-transform: rotate(135deg);
                        -ms-transform: rotate(135deg);
    
                    }
    
                    &.slick-prev {
    
                        left: 20px;
                        
                        transform: rotate(-45deg);
                        -webkit-transform: rotate(-45deg);
                        -moz-transform: rotate(-45deg);
                        -ms-transform: rotate(-45deg);
                        -o-transform: rotate(-45deg);
    
                    }

                }


            }

            &:before {

                position: absolute;
                content: "";
                width: 65%;
                height: 70%;
                background: #b0aaa0;
                
            }

            ul.slick-dots {

                text-align: center;
                bottom: 20px;
                position: absolute;
                width: 100%;

                li {

                    border: 1px solid #fff;
                    display: inline-block;
                    margin: 0 5px;
                    width: 15px;
                    height: 15px;
                    cursor: pointer;

                    &.slick-active {

                        background: #c41c17;
                        padding: 2px;

                    }

                }

            }

        }

        .boxes {

            &__middle {

                position: relative;

                &:before {

                    content: "";
                    position: absolute;
                    width: 50px;
                    height: 300px;
                    top: -150px;
                    left: 10%;
                    border-left: 2px solid #c41c17;
                    border-top: 2px solid #c41c17;

                }

                background: url("/arquivos/numbers.gif") no-repeat top right ;
                background-size: 75%;

                article {

                    h3 {

                        font-size: 18px;
                        letter-spacing: 2px;
                        line-height: 20px;
                        color: #000000;;
                        font-weight: bold;
                        text-transform: uppercase;
                        width: 60%;
    
                    }

                    p {

                        font-size: 12px;
                        line-height: 18px;
                        color: #737373;
                        margin-top: 20px;
                        width: 75%;

                    }

                }

                &--firstLine {

                    padding-top: 70px;

                    .sliderGrid {

                        padding-top: 15px;

                        &:before {

                            top: 0;
                            left: 0;

                        }

                        &:after {

                            content: "";
                            position: absolute;
                            width: 50%;
                            height: 500px;
                            top: 250px;
                            border-right: 2px solid #c41c17;
                            border-top: 2px solid #c41c17;
                            right: -7%;
                            z-index: -1;
                        }

                    }

                    article { padding-left: 10px; margin-top: 25px; }

                }

                &--secondLine {

                    margin-top: 40px;
                    background: url(/arquivos/numbers.gif) -20% 75% no-repeat;
                    background-size: 75%;

                    .sliderGrid { 

                        margin-left: 14%;

                        &:before {

                            position: absolute;
                            content: "";
                            background: #b0aaa0;
                            bottom: 3px;
                            right: 0;
                            
                        }

                        &:after {

                            content: "";
                            position: absolute;
                            width: 50%;
                            height: 500px;
                            top: 250px;
                            border-left: 2px solid #c41c17;
                            border-top: 2px solid #c41c17;
                            left: -10%;
                            z-index: -1;

                        }

                    }

                    article {

                        padding-right: 10px;
                        margin-top: 25px;
                        margin-bottom: 60px;

                        h3 { margin-left: 40%; text-align: right; }

                        p { margin-left: 25%; text-align: right; }

                    }

                }

            }

        }

        .videoMiddle {

            h3 {

                font-size: 18px;
                letter-spacing: 2px;
                line-height: 20px;
                color: #000000;
                font-weight: bold;
                text-align: center;
                width: 80%;
                margin: 0 auto;
                text-align: center;
                margin-bottom: 25px;

            }

            iframe {

                width: 100% !important;
                height: 179px !important;

            }

        }

        .contentWidth {

            &__landingShelf {

                padding-top: 60px;

                h3 {

                    font-size: 18px;
                    letter-spacing: 2px;
                    line-height: 20px;
                    color: #000000;
                    font-weight: bold;
                    text-align: center;
                    width: 80%;
                    margin: 0 auto;
                    text-align: center;
                    margin-bottom: 25px;

                }

            }

            &__boxesFooter {

                &--firstLine {

                    overflow: hidden;
                    display: flex;
                    justify-content: space-between;
                    
                    .column-metade {

                        width: 49.7%;
                        float: left;
                        overflow: hidden;
                        position: relative;

                        .box-banner {

                            a {

                                img {
                                    
                                    opacity: 1;

                                    transition: all .5s;
                                    -webkit-transition: all .5s;
                                    -moz-transition: all .5s;
                                    -ms-transition: all .5s;
                                    -o-transition: all .5s;

                                }

                                &:hover {

                                    img { opacity: .5; }

                                }

                            }

                        }

                        div {

                            &:last-child {

                                position: absolute;
                                top: 45%;
                                width: 100%;
                                text-align: center;

                                h4 {

                                    font-size: 15px;
                                    letter-spacing: 2px;
                                    line-height: 17px;
                                    color: #ffffff;
                                    font-weight: bold;
                                    text-transform: uppercase;
                                    margin-bottom: 10px;

                                }

                                span {

                                    font-size: 9px;
                                    line-height: 10px;
                                    color: #fff;
                                    font-weight: 700;
                                    background: #c41c17;
                                    text-transform: uppercase;
                                    padding: 7px 24px;
                                    margin-top: 10px;

                                }

                            }

                        }

                    }

                }

                &--secondLine {

                    .column-total {

                        width: 100%;
                        position: relative;
                        margin-top: 1px;

                        div {

                            &:last-child {

                                position: absolute;
                                top: 45%;
                                width: 100%;
                                text-align: center;

                                h4 {

                                    font-size: 15px;
                                    letter-spacing: 2px;
                                    line-height: 17px;
                                    color: #ffffff;
                                    font-weight: bold;
                                    text-transform: uppercase;
                                    margin-bottom: 10px;

                                }

                                span {

                                    font-size: 9px;
                                    line-height: 10px;
                                    color: #fff;
                                    font-weight: 700;
                                    background: #c41c17;
                                    text-transform: uppercase;
                                    padding: 7px 24px;
                                    margin-top: 10px;

                                }

                            }

                        }

                    }
                }

            }

        }

        .tarjaBeforeFooter {

            padding: 10px 0;
            background: url(/arquivos/watches-background.jpg) no-repeat left top;
            background-size: contain;
            
            box-shadow: 0px 0px 15px 0px rgba( 0, 0, 0, .2 );
            -webkit-box-shadow: 0px 0px 15px 0px rgba( 0, 0, 0, .2 );
            -moz-box-shadow: 0px 0px 15px 0px rgba( 0, 0, 0, .2 );
            -ms-box-shadow: 0px 0px 15px 0px rgba( 0, 0, 0, .2 );
            -o-box-shadow: 0px 0px 15px 0px rgba( 0, 0, 0, .2 );

            p {

                width: 40%;
                margin-left: 55%;

                span {

                    font-size: 14px;
                    letter-spacing: 1px;
                    line-height: 17px;
                    color: #000000;
                    font-weight: bold;
                    text-transform: uppercase;
                    
                }

                a {

                    font-size: 12px;
                    letter-spacing: 1px;
                    line-height: 16px;
                    color: #fff;
                    font-weight: 800;
                    text-align: center;
                    display: inline-block;
                    background: #c41c17;
                    padding: 7px 33px;
                    text-transform: uppercase;
                    margin-top: 10px;

                }

            }

        }

        .footer {

            &__stores { display: none; }

        }

    }

}



/* ----- MEDIAS QUERIES ----- */
@media screen and ( min-width: 768px ) {

    body {

        &.landing-digitais {

            .shelf:after { width: 0; height: 0; }

            .contentWidth {
    
                max-width: 960px;
    
            }
    
            .chamada-banner {
    
                h2 {
    
                    font-size: 32px;
                    letter-spacing: 3px;
                    line-height: 36px;
                    width: 50%;
        
                    &:after {

                        width: 130px;
                        height: 500px;
                        top: 70%;
                        left: -40%;
                        border-left: 2px solid #c41c17;
                        border-top: 2px solid #c41c17;
        
                    }
                
                }
    
            }
    
            .videoTopo {
    
                article {
    
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    top: 150px;
    
                    a {
    
                        font-size: 14px;
                        letter-spacing: 2px;
                        line-height: 23px;
                        color: #fff;
                        padding: 16px 53px;
                        margin-top: 30px;
    
                    }
    
                }
    
            }
    
            iframe { max-width: 100%; height: 515px; }
    
            .sliderGrid {

                width: 100%;

                button {

                    &.slick-arrow {

                        &.slick-prev { left: 5%; }

                        &.slick-next { right: 16.5%; }

                    }

                }
    
            }
    
            .boxes {
    
                &__middle {

                    background-size: 45%;

                    &:before {

                        width: 15%;
                        height: 500px;
                        top: -290px;
                        left: 10%;

                    }
    
                    article {

                        width: 44%;
    
                        h3 {
    
                            font-size: 32px;
                            letter-spacing: 3px;
                            line-height: 36px;
                            width: 100%;
        
                        }
    
                        p {
    
                            font-size: 22px;
                            line-height: 32px;
                            color: #737373;
                            margin-top: 20px;
                            width: 100%;
    
                        }
    
                    }
    
                    &--firstLine {
    
                        padding-top: 70px;
                        float: left;
                        width: 100%;
    
                        .sliderGrid {

                            float: left;
    
                            &:before {
    
                                top: 0;
                                left: 0;
    
                            }
    
                            &:after {
    
                                height: 0;
                                width: 0;
                                display: none;
                                right: 0;

                            }

                            button {

                                &.slick-prev { left: 5%; }

                                &.slick-next { right: 16.5%; }

                            }
    
                        }
    
                        article { width: 85%; float: left; padding-top: initial; padding-left: 5%; }
    
                    }
    
                    &--secondLine {

                        float: left;
                        width: 100%;

                        padding-top: 70px;

                        &:before {

                            content: "";
                            position: absolute;
                            /* background: #c41c17; */
                            top: -350px;
                            right: 20%;
                            width: 60%;
                            height: 900px;
                            border-top: 2px solid #c41c17;
                            border-right: 2px solid #c41c17;
                            z-index: -1;

                        }

                        float: left;
                        width: 100%;
                        margin-top: 0;
                        position: relative;

                        background: url(/arquivos/numbers.gif) 0 0 no-repeat;
                        background-size: 49%;
    
                        .sliderGrid {
                            float: left;
                            margin-left: 0;
    
                            &:before {
    
                                position: absolute;
                                content: "";
                                background: #b0aaa0;
                                bottom: -15px;
                                left: 0;
                                
                            }
    
                            &:after {

                                display: none;
                                right: 0;
                                right: 0;
    
                            }

                            ul {

                                &.slick-dots { bottom: 55px; }

                            }
    
                        }
    
                        article {
                            
                            width: 85%; float: left; padding-top: initial; padding-left: 5%; 
    
                            h3 { margin-left: 0; text-align: left; }
    
                            p { margin-left: 0; text-align: left; }
    
                        }
    
                    }
    
                }
    
            }
    
            .videoMiddle {

                padding-top: 85px;
                float: left;
                width: 100%;
    
                h3 {
    
                    font-size: 32px;
                    letter-spacing: 3px;
                    line-height: 36px;
                    color: #000000;
                    width:  100%;
                }
    
                iframe {
    
                    width: 100% !important;
                    height: 670px !important;
    
                }
    
            }
    
            .contentWidth {
    
                &__landingShelf {
    
                    padding-top: 60px;
                    margin-bottom: 100px;
                    float: left;
                    width: 100%;
    
                    h3 {
    
                        font-size: 32px;
                        letter-spacing: 3px;
                        line-height: 36px;
                        width: 50%;
    
                    }
    
                }
    
                &__boxesFooter {

                    &--firstLine , &--secondLine {

                        width: 80%;
                        margin: 0 auto;
                        max-width: 1120px;

                    }
    
                    &--firstLine {
    
                        display: flex;
                        justify-content: space-between;
                        position: relative;
                        overflow: initial;

                        &:before {

                            content: "";
                            position: absolute;
                            width: 290%;
                            height: 400px;
                            top: 210px;
                            right: -10%;
                            border: 2px solid #c41c17;

                        }
                        
                        .column-metade {
    
                            width: 49.7%;
                            float: left;
                            position: relative;
    
                            .box-banner {
    
                                a {
    
                                    img {
                                        
                                        opacity: 1;
    
                                        transition: all .5s;
                                        -webkit-transition: all .5s;
                                        -moz-transition: all .5s;
                                        -ms-transition: all .5s;
                                        -o-transition: all .5s;
    
                                    }
    
                                    &:hover {
    
                                        img { opacity: .5; }
    
                                    }
    
                                }
    
                            }
    
                            div {
    
                                &:last-child {
    
                                    position: absolute;
                                    top: 45%;
                                    width: 100%;
                                    text-align: center;
    
                                    h4 {
    
                                        font-size: 32px;
                                        letter-spacing: 3px;
                                        line-height: 36px;
    
                                    }
    
                                    span {
    
                                        font-size: 20px;
                                        line-height: 22px;
                                        padding: 18px 50px;
                                        display: inline-block;
    
                                    }
    
                                }
    
                            }
    
                        }
    
                    }
    
                    &--secondLine {
    
                        .column-total {
    
                            width: 100%;
                            position: relative;
                            margin-top: 1px;
    
                            div {
    
                                &:last-child {
    
                                    position: absolute;
                                    top: 45%;
                                    width: 100%;
                                    text-align: center;
    
                                    h4 {
    
                                        font-size: 32px;
                                        letter-spacing: 3px;
                                        line-height: 36px;
    
                                    }
    
                                    span {
    
                                        font-size: 20px;
                                        line-height: 22px;
                                        padding: 18px 50px;
                                        display: inline-block;
    
                                    }
    
                                }
    
                            }
    
                        }
                    }
    
                }
    
            }
    
            .tarjaBeforeFooter {
    
                padding: 0;
                background: none;

                .contentWidth {

                    width: 80%;
                    margin: 0 auto;
                    max-width: 1120px;
                    background: url(/arquivos/watches-background.jpg) no-repeat 70% 0;
                    background-size: contain;

                    p {
        
                        width: 100%;
                        margin-left: 0;
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 0;
        
                        span {
        
                            font-size: 20px;
                            letter-spacing: 3px;
                            line-height: 30px;
                            padding-top: 5px;
                            
                        }
        
                        a {
        
                            font-size: 15px;
                            letter-spacing: 2px;
                            line-height: 26px;
                            margin-top: 0;
        
                        }
        
                    }

                }
    
            }
    
            .footer {
    
                &__stores { display: none; }
    
            }
    
        }
    
    }
}

@media screen and ( min-width: 992px ) {

    body {

        &.landing-digitais {

            .shelf:after { width: 0; height: 0; }

            .contentWidth {
    
                max-width: 960px;
    
            }
    
            .chamada-banner {
    
                h2 {
    
                    font-size: 32px;
                    letter-spacing: 3px;
                    line-height: 36px;
                    width: 39%;
        
                    &:after {

                        width: 130px;
                        height: 500px;
                        top: 70%;
                        left: -40%;
                        border-left: 2px solid #c41c17;
                        border-top: 2px solid #c41c17;
        
                    }
                
                }
    
            }
    
            .videoTopo {
    
                article {
    
                    position: absolute;
                    width: 100%;
                    text-align: center;
                    top: 150px;
    
                    a {
    
                        font-size: 14px;
                        letter-spacing: 2px;
                        line-height: 23px;
                        color: #fff;
                        padding: 16px 53px;
                        margin-top: 30px;
    
                    }
    
                }
    
            }
    
            iframe { max-width: 100%; height: 515px; }
    
            .sliderGrid {

                width: 55%;
    
            }
    
            .boxes {
    
                &__middle {

                    background-size: 45%;
    
                    article {

                        width: 44%;
    
                        h3 {
    
                            font-size: 32px;
                            letter-spacing: 3px;
                            line-height: 36px;
                            width: 100%;
        
                        }
    
                        p {
    
                            font-size: 18px;
                            line-height: 32px;
                            color: #737373;
                            margin-top: 20px;
                            width: 100%;
    
                        }
    
                    }
    
                    &--firstLine {
    
                        padding-top: 70px;
                        float: left;
                        width: 100%;
    
                        .sliderGrid {

                            padding-left: 35px;
                            padding-top: 35px;
                            float: left;
    
                            &:before {
    
                                top: 0;
                                left: 0;
    
                            }
    
                            &:after {
    
                                height: 0;
                                width: 0;

                            }

                            button {

                                &.slick-prev { left: 9%; }

                                &.slick-next { right: 3%; }

                            }
    
                        }
    
                        article { width: 45%; float: left; padding-top: 220px; padding-left: 5%; }
    
                    }
    
                    &--secondLine {

                        &:before {

                            content: "";
                            position: absolute;
                            /* background: #c41c17; */
                            top: -70px;
                            right: 10%;
                            width: 60%;
                            height: 900px;
                            border-top: 2px solid #c41c17;
                            border-right: 2px solid #c41c17;
                            z-index: -1;

                        }

                        float: left;
                        width: 100%;
                        margin-top: 0;
                        position: relative;

                        background: url(/arquivos/numbers.gif) 0 0 no-repeat;
                        background-size: 49%;
    
                        .sliderGrid {
                            float: right;
                            margin-left: 0;
                            padding-right: 35px;
                            padding-bottom: 35px;
    
                            &:before {
    
                                position: absolute;
                                content: "";
                                background: #b0aaa0;
                                bottom: 3px;
                                right: 0;
                                
                            }
    
                            &:after {
    
                                width: 0;
                                height: 0;
    
                            }

                            ul {

                                &.slick-dots { bottom: 55px; }

                            }
    
                        }
    
                        article {
                            
                            float: right;
                            padding-right: 5%;
                            margin-top: 25px;
                            margin-bottom: 0;
                            padding-top: 220px;
                            padding-left: 0; 
    
                            h3 { margin-left: 0; text-align: left; }
    
                            p { margin-left: 0; text-align: left; }
    
                        }
    
                    }
    
                }
    
            }
    
            .videoMiddle {

                padding-top: 85px;
                float: left;
                width: 100%;
    
                h3 {
    
                    font-size: 32px;
                    letter-spacing: 3px;
                    line-height: 36px;
                    color: #000000;
                    width:  100%;
                }
    
                iframe {
    
                    width: 100% !important;
                    height: 670px !important;
    
                }
    
            }
    
            .contentWidth {
    
                &__landingShelf {
    
                    padding-top: 60px;
                    margin-bottom: 100px;
                    float: left;
                    width: 100%;
    
                    h3 {
    
                        font-size: 32px;
                        letter-spacing: 3px;
                        line-height: 36px;
                        width: 50%;
    
                    }
    
                }
    
                &__boxesFooter {

                    &--firstLine , &--secondLine {

                        width: 80%;
                        margin: 0 auto;
                        max-width: 1120px;

                    }
    
                    &--firstLine {
    
                        display: flex;
                        justify-content: space-between;
                        position: relative;
                        overflow: initial;

                        &:before {

                            content: "";
                            position: absolute;
                            width: 290%;
                            height: 400px;
                            top: 210px;
                            right: -10%;
                            border: 2px solid #c41c17;

                        }
                        
                        .column-metade {
    
                            width: 49.7%;
                            float: left;
                            position: relative;
    
                            .box-banner {
    
                                a {
    
                                    img {
                                        
                                        opacity: 1;
    
                                        transition: all .5s;
                                        -webkit-transition: all .5s;
                                        -moz-transition: all .5s;
                                        -ms-transition: all .5s;
                                        -o-transition: all .5s;
    
                                    }
    
                                    &:hover {
    
                                        img { opacity: .5; }
    
                                    }
    
                                }
    
                            }
    
                            div {
    
                                &:last-child {
    
                                    position: absolute;
                                    top: 45%;
                                    width: 100%;
                                    text-align: center;
    
                                    h4 {
    
                                        font-size: 32px;
                                        letter-spacing: 3px;
                                        line-height: 36px;
    
                                    }
    
                                    span {
    
                                        font-size: 20px;
                                        line-height: 22px;
                                        padding: 18px 50px;
                                        display: inline-block;
    
                                    }
    
                                }
    
                            }
    
                        }
    
                    }
    
                    &--secondLine {
    
                        .column-total {
    
                            width: 100%;
                            position: relative;
                            margin-top: 1px;
    
                            div {
    
                                &:last-child {
    
                                    position: absolute;
                                    top: 45%;
                                    width: 100%;
                                    text-align: center;
    
                                    h4 {
    
                                        font-size: 32px;
                                        letter-spacing: 3px;
                                        line-height: 36px;
    
                                    }
    
                                    span {
    
                                        font-size: 20px;
                                        line-height: 22px;
                                        padding: 18px 50px;
                                        display: inline-block;
    
                                    }
    
                                }
    
                            }
    
                        }
                    }
    
                }
    
            }
    
            .tarjaBeforeFooter {
    
                padding: 0;
                background: none;

                .contentWidth {

                    width: 80%;
                    margin: 0 auto;
                    max-width: 1120px;
                    background: url(/arquivos/watches-background.jpg) no-repeat 70% 0;
                    background-size: contain;

                    p {
        
                        width: 100%;
                        margin-left: 0;
                        display: flex;
                        justify-content: space-between;
                        padding: 10px 0;
        
                        span {
        
                            font-size: 20px;
                            letter-spacing: 3px;
                            line-height: 30px;
                            padding-top: 5px;
                            
                        }
        
                        a {
        
                            font-size: 15px;
                            letter-spacing: 2px;
                            line-height: 26px;
                            margin-top: 0;
        
                        }
        
                    }

                }
    
            }
    
            .footer {
    
                &__stores { display: none; }
    
            }
    
        }
    
    }
}